<div class="modal-header">
    <h5 class="heading">{{documentInfo.document.title}}</h5>
    <h6 class="document-author">{{documentInfo.document.author}} <span ng-if="documentInfo.document.year">({{documentInfo.document.year}})</span></h6>
</div>
<div class="modal-body">
    <div class="abstract">
        <div class="heading">Abstract</div>
        <div ng-if="documentInfo.document.abstractText">{{documentInfo.document.abstractText}}</div>
        <div ng-if="!documentInfo.document.abstractText">Abstract not available</div>
    </div>
    <p></p>

    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="heading">Relevant Topics</div>
            <div ng-repeat="topic in documentInfo.document.relevantTopics | limitTo:4">
                {{topic.topicName}}: <span class="document-author">{{topic.strength * 100 | number:0}}%</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="heading"
                 ng-if="documentInfo.document.authorScore || documentInfo.document.relevanceScore || documentInfo.document.pageRankScore">
                Scores
            </div>
            <div ng-show="documentInfo.document.readabilityScore">
                <span>
                    Readability: <span class="document-author">{{documentInfo.document.readabilityScore==0?'-':(""+documentInfo.document.readabilityScore).substring(0, 6)}}</span>
                </span>
            </div>
            <div ng-show="documentInfo.document.authorScore">
                <span>
                    Author reputation: <span class="document-author">{{documentInfo.document.authorScore==0?'-':documentInfo.document.authorScore}}</span>
                </span>
            </div>
            <div ng-show="documentInfo.document.relevanceScore">
                <span>Relevance: <span class="document-author">{{(""+documentInfo.document.relevanceScore).substring(0, 6)}}</span>
                    </span>
            </div>
            <div ng-show="documentInfo.document.pageRankScore">
                <span>Pagerank: <span class="document-author">{{(""+documentInfo.document.pageRankScore*100).substring(0, 6)}}</span></span>
            </div>

        </div>
    </div>

    <hr/>
    <a class="btn blue" ng-href="{{getDocumentUrl()}}" target="_blank">Paper Link</a>
</div>