<div class="container-fluid document-container" ng-class="{'document-highlight':documentInfo.highlight}">
    <div class="row">
        <div class="col-md-12 document-margin">
            <a ng-click="showAbstract()" class="document-title">
                {{documentInfo.document.title}}
            </a>
            <br/>
            <span class="document-author">{{documentInfo.document.author}} <span ng-if="documentInfo.document.year">({{documentInfo.document.year}})</span></span>


            <div ng-if="abstract">
                {{abstract}}
                <a class="abstract-action" ng-if="!showMore" ng-click="setSummary(true)">... more</a>
                <a class="abstract-action" ng-if="showMore" ng-click="setSummary(false)">less</a>
            </div>
            <div ng-show="moveable" dnd-handle class="handle">:::</div>
            <i ng-show="moveable" class="material-icons document-delete" ng-click="onDelete()">close</i>
        </div>
        <span ng-if="documentInfo.document.newlyAdded" class="new-document">new</span>
    </div>
</div>
